<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table border="1" width="700">
		<tr>
			<td colspan="5"><img src="/img/title_04.gif"></td>
		</tr>
		<tr>
			<th>번호</th> 
			<th>제목</th> 
			<th>작성자</th> 
			<th>작성일</th> 
			<th>조회수</th>
		</tr>
		<th:block th:each="vo : ${list}">
			<tr th:object="${vo}">
				<td>
					<th:block th:if="${vo.depth > 0} ">
						<span th:each="depth : ${#numbers.sequence(1, vo.depth)}">&nbsp</span>
					</th:block>
					<th:block th:if="${vo.depth no 0}">ㄴ</th:block>
					<th:block th:if="${vo.delInfo no - 1}">
						<a th:href="@{/board/view(idx=*{idx}, page=${param.page})}" >
							<font color="black" th:text="*{subject}"></font>
						</a>
					</th:block>
	</table>
</body>
</html>